* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}

.login-div {
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 10px 13px 2px #cbced1, -13px -13px 20px #ffffff;
}

.logo {
    background: url(Image/p3.png);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
}

.Title {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

.Fiels {
    width: 100%;
    padding: 55px 5px 5px 5px;
}

.Fiels input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.username,
.password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.Fiels svg {
    height: 22px;
    margin: 0 10px -3px 25px;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'lato'sans-serif;
    color: #fff;
    text-align: center;
    background-color: green;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.signin-button:hover {
    background-color: #2fdbb6;
    transform: scale(1.1);
}

.signin-button:active {
    background-color: #1da88a;
}

.link {
    margin-top: 5px;
}

.instagram {
    background-image: url(Image/instagram.png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    margin-top: 15px;
    border-radius: 30%;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.social {
    width: 100%;
}

.Youtube {
    background-image: url(Image/Youtube\(amin\).png);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    margin-top: 15px;
    border-radius: 30%;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.instagram:hover {
    transform: scale(1.2);
}

.Youtube:hover {
    transform: scale(1.2);
}